In [135]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [136]:
train = pd.read_csv('game_of_thrones_train.csv', index_col='S.No')
test = pd.read_csv('game_of_thrones_test.csv', index_col='S.No')
train.head()

,name,title,male,culture,dateOfBirth,mother,father,heir,house,spouse,...,isAliveMother,isAliveFather,isAliveHeir,isAliveSpouse,isMarried,isNoble,age,numDeadRelations,popularity,isAlive
S.No,,,,,,,,,,,,,,,,,,,,,
1,Viserys II Targaryen,NaN,1,NaN,NaN,Rhaenyra Targaryen,Daemon Targaryen,Aegon IV Targaryen,NaN,NaN,...,1.0,0.0,0.0,NaN,0,0,NaN,11,0.605351,0
2,Walder Frey,Lord of the Crossing,1,Rivermen,208.0,NaN,NaN,NaN,House Frey,Perra Royce,...,NaN,NaN,NaN,1.0,1,1,97.0,1,0.896321,1
3,Addison Hill,Ser,1,NaN,NaN,NaN,NaN,NaN,House Swyft,NaN,...,NaN,NaN,NaN,NaN,0,1,NaN,0,0.267559,1
4,Aemma Arryn,Queen,0,NaN,82.0,NaN,NaN,NaN,House Arryn,Viserys I Targaryen,...,NaN,NaN,NaN,0.0,1,1,23.0,0,0.183946,0
5,Sylva Santagar,Greenstone,0,Dornish,276.0,NaN,NaN,NaN,House Santagar,Eldon Estermont,...,NaN,NaN,NaN,1.0,1,1,29.0,0,0.043478,1

In [137]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1557 entries, 1 to 1557
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              1557 non-null   object
 1   title             717 non-null    object
 2   male              1557 non-null   int64
 3   culture           488 non-null    object
 4   dateOfBirth       279 non-null    float64
 5   mother            18 non-null     object
 6   father            22 non-null     object
 7   heir              21 non-null     object
 8   house             1176 non-null   object
 9   spouse            200 non-null    object
 10  book1             1557 non-null   int64
 11  book2             1557 non-null   int64
 12  book3             1557 non-null   int64
 13  book4             1557 non-null   int64
 14  book5             1557 non-null   int64
 15  isAliveMother     18 non-null     float64
 16  isAliveFather     22 non-null     float64
 17  isAliveHeir       21 non-null     float64
 18  isAliveSpouse     200 non-null    float64
 19  isMarried         1557 non-null   int64
 20  isNoble           1557 non-null   int64
 21  age               279 non-null    float64
 22  numDeadRelations  1557 non-null   int64
 23  popularity        1557 non-null   float64
 24  isAlive           1557 non-null   int64
dtypes: float64(7), int64(10), object(8)
memory usage: 316.3+ KB

In [138]:
train.drop(columns=['dateOfBirth', 'mother', 'father', 'heir', 'spouse', 'age'], inplace=True)
test.drop(columns=['dateOfBirth', 'mother', 'father', 'heir', 'spouse', 'age'], inplace=True)

In [139]:
train['title'].fillna('No title', inplace=True)
train['house'].fillna('No house', inplace=True)
train['culture'].fillna('No info', inplace=True)

train['isAliveFather'].fillna(0, inplace=True)
train['isAliveMother'].fillna(0, inplace=True)
train['isAliveHeir'].fillna(0, inplace=True)
train['isAliveSpouse'].fillna(0, inplace=True)


test['title'].fillna('No title', inplace=True)
test['house'].fillna('No house', inplace=True)
test['culture'].fillna('No info', inplace=True)

test['isAliveFather'].fillna(0, inplace=True)
test['isAliveMother'].fillna(0, inplace=True)
test['isAliveHeir'].fillna(0, inplace=True)
test['isAliveSpouse'].fillna(0, inplace=True)

In [140]:
train['isPopular'] = train['popularity'].apply(lambda x: 1 if x >= 0.5 else 0)
train['boolDeadRelations'] = train['numDeadRelations'].apply(lambda x: 1 if x > 0 else 0)

test['isPopular'] = test['popularity'].apply(lambda x: 1 if x >= 0.5 else 0)
test['boolDeadRelations'] = test['numDeadRelations'].apply(lambda x: 1 if x > 0 else 0)

In [141]:
cult = {
    'Summer Islands': ['summer islands', 'summer islander', 'summer isles'],
    'Ghiscari': ['ghiscari', 'ghiscaricari',  'ghis'],
    'Asshai': ["asshai'i", 'asshai'],
    'Lysene': ['lysene', 'lyseni'],
    'Andal': ['andal', 'andals'],
    'Braavosi': ['braavosi', 'braavos'],
    'Dornish': ['dornishmen', 'dorne', 'dornish'],
    'Myrish': ['myr', 'myrish', 'myrmen'],
    'Westermen': ['westermen', 'westerman', 'westerlands'],
    'Westerosi': ['westeros', 'westerosi'],
    'Stormlander': ['stormlands', 'stormlander'],
    'Norvoshi': ['norvos', 'norvoshi'],
    'Northmen': ['the north', 'northmen'],
    'Free Folk': ['wildling', 'first men', 'free folk'],
    'Qartheen': ['qartheen', 'qarth'],
    'Reach': ['the reach', 'reach', 'reachmen'],
}

In [142]:
cult_reversed = {}
for key, values in cult.items():
    for value in values:
        cult_reversed[value] = key

In [143]:
train['culture'] = train['culture'].apply(lambda x: cult_reversed[x.lower(
)] if x.lower() in cult_reversed.keys() else x.capitalize())

test['culture'] = test['culture'].apply(lambda x: cult_reversed[x.lower(
)] if x.lower() in cult_reversed.keys() else x.capitalize())

In [144]:
train.drop(columns=['name', 'boolDeadRelations', 'isPopular', 'isAliveMother',
           'isAliveFather', 'isAliveHeir', 'isAliveSpouse', 'isNoble'], inplace=True)
test.drop(columns=['name', 'boolDeadRelations', 'isPopular', 'isAliveMother',
          'isAliveFather', 'isAliveHeir', 'isAliveSpouse', 'isNoble'], inplace=True)

In [145]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1557 entries, 1 to 1557
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             1557 non-null   object
 1   male              1557 non-null   int64
 2   culture           1557 non-null   object
 3   house             1557 non-null   object
 4   book1             1557 non-null   int64
 5   book2             1557 non-null   int64
 6   book3             1557 non-null   int64
 7   book4             1557 non-null   int64
 8   book5             1557 non-null   int64
 9   isMarried         1557 non-null   int64
 10  numDeadRelations  1557 non-null   int64
 11  popularity        1557 non-null   float64
 12  isAlive           1557 non-null   int64
dtypes: float64(1), int64(9), object(3)
memory usage: 170.3+ KB

In [146]:
X, y = train.drop(columns='isAlive'), train['isAlive']

In [147]:
import numpy as np
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostClassifier

cat_cols = ['title', 'culture', 'house']

catboost = CatBoostClassifier(eval_metric='Accuracy', cat_features=cat_cols, verbose=False)

# Ð¿Ð¾Ð´Ð±ÐµÑ€ÐµÐ¼ Ð³Ð¸Ð¿ÐµÑ€Ð¿Ð°Ñ€Ð°Ð¼ÐµÑ‚Ñ€Ñ‹
params = {'depth': np.arange(2, 8),
          'l2_leaf_reg': np.arange(0.1, 2, 0.5),
          'learning_rate': np.arange(0.01, 0.5, 0.01),
          'n_estimators': np.arange(300, 1000, 200),
          'min_data_in_leaf': np.arange(100, 1001, 100)}

grid_search = RandomizedSearchCV(catboost,
                           param_distributions=params,
                           scoring='accuracy',
                           cv=5,
                           refit=True,
                           n_jobs=-1)

grid_search.fit(X, y)
print(f'Accuracy: {grid_search.best_score_:.4f}')
print(f"Best params: {grid_search.best_params_}")

Accuracy: 0.8169
Best params: {'n_estimators': 900, 'min_data_in_leaf': 700, 'learning_rate': 0.06999999999999999, 'l2_leaf_reg': 1.6, 'depth': 3}

In [148]:
submission = pd.read_csv("submission.csv")

In [149]:
submission['isAlive'] = grid_search.predict(test)

In [150]:
submission.to_csv("my_submission.csv", index=False)